*{
    margin: 0px;
    padding: 0px;
    
        font-family: "Inter Tight", "Helvetica Neue", -apple-system, "system-ui", "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}
body {
        background-color: #3a2a7c;
}
center h1{
    margin-bottom: 10px;
}