*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter Tight", "Helvetica Neue", -apple-system, "system-ui", "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
   background-color: #3a2a7c;
}
#parent{
    display: flex;

}
#parent>div{
    width: 50%;
}
#aboutUs{
    padding: 30px; 
    color: white;
}
#aboutUs p{
    font-size: 30px;
    text-align: justify;
}